.git
.devcontainer/*
!.devcontainer/devcontainer.json
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
Thumbs.db
cmake-build-*/
build/
out/
bin/
docs/doxygen/
*.o
*.obj
*.a
*.so
*.so.*
*.dylib
*.dll
*.exe
